<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <%- include('../../partials/design') %>
  </head>
  <body class="general">
    <main>
      <header><%- include('../../partials/nav')%></header>
      <section class="admin-section-create">
        <h1>New Post</h1>
        <div class="content-create">
          <form action="/admin/post/new" method="POST" class="content-form">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" />
            <label for="content">Content</label>
            <textarea
              name="content"
              id="content"
              cols="30"
              rows="10"
            ></textarea>
            <label for="date">Date</label>
            <input type="date" name="date" id="date" />
            <button type="submit" class="btn-create">Create</button>
          </form>
        </div>
      </section>
      <%- include('../../partials/footer')%>
    </main>
  </body>
</html>
