<div class="navigation">
  <div class="logo">
    <img
      src="/images/iconPandaBlogMini.png"
      alt="logo"
      width="40"
      height="40"
    />
    <h2>DevJourney.</h2>
  </div>
  <nav class="nav-links">
    <a href="/admin">Admin</a>

    <a href="/">Home</a>
  </nav>
</div>
