<div class="navigation">
  <a href="/" class="logo">
    <img
      src="/images/iconPandaBlogMini.png"
      alt="logo"
      width="40"
      height="40"
    />
    <h2>DevJourney.</h2>
  </a>
  <% if (accessPage) { %>
  <nav class="nav-links">
    <a href="/admin">Admin</a>

    <a href="/">Home</a>
    <a href="/logout">Logout</a>
  </nav>
  <% }%>
</div>
