<section class="modal-content">
  <div class="modal-delete">
    <p>¿Estás seguro de que quieres eliminar este post?</p>
    <div class="actions-modal-delete">
      <button class="btn-modal-delete">Eliminar</button>
      <button class="btn-modal-delete-cancel">Cancelar</button>
    </div>
  </div>
</section>
